<ion-header>
  <ion-toolbar>
    <ion-title>Informação Cliente</ion-title>
    <ion-button slot="end" color="danger" (click) ="close()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="../database.service.ts" method="POST">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Nome <ion-text color="danger">:</ion-text></ion-label>
        <ion-input required type="text" oninput="handleNameValue(event)" name="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Mesa <ion-text color="danger">:</ion-text></ion-label>
        <ion-input required type="text" oninput="handleNameValue(event)" name="mesa"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <div>
    <h3 class="pedidos">Pedidos</h3>
    <ion-list>
      <ion-item>
        <ion-thumbnail class="border">
          <img src="https://www.receitasnestle.com.br/images/default-source/recipes/lasanha_a_bolonhesa_saborosa.jpg">
          <ion-text></ion-text>
        </ion-thumbnail>
      </ion-item>
    </ion-list>  
  </div> 
</ion-content>