<ion-header>
  <ion-toolbar>
    <ion-title class="alinharTitle">
      Cardápio
    </ion-title>
    <ion-button slot="end" color="transparent" (click) ="showModalComanda()">
        <ion-icon name="pencil-outline" color="success"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><ion-icon name="restaurant-outline"></ion-icon></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Picanha na Brasa</ion-card-title>
      <ion-card-subtitle>Picanha assada na Brasa...</ion-card-subtitle>
    </ion-card-header>
    <ion-img src="../../assets/picanha.jfif"></ion-img>
    <ion-card-content>
      Picanha mantida ao fogo por 15 minutos.<br/>
      <ion-button color="success">
          <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


<!--<ion-card-header>
  <ion-card-title>Picanha na Brasa</ion-card-title>
  <ion-card-subtitle>Picanha assada na Brasa...</ion-card-subtitle>
</ion-card-header>
<ion-img src="../../assets/picanha.jfif"></ion-img>
<ion-card-content>
  Picanha mantida ao fogo por 15 minutos.<br/>
  <ion-button>
    <ion-icon slot="icon-only" name="person-circle"></ion-icon>
  </ion-button> -->